.mywork {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 80px 170px;
  justify-content: center;
}
.mywork-title {
  position: relative;
}
.mywork-title h1 {
  font-size: 60px;
  margin-top: 60px;
}
.mywork-title img {
  position: absolute;
  z-index: -1;
  bottom: 0;
  right: 0;
}
.mywork-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 90%;
  margin-top: 50px;
  gap: 35px;
  cursor: pointer;
  transition: 0.5s;
}
.mywork-container img {
  width: 100%;
  height: 100%;
}
.mywork-container img:hover {
  transform: scale(1.05);
  border-radius: 2px;
  border: 4px solid red;
}
.my-read-more{
    display: flex;
    font-size:28px;
    padding: 20px 30px;
    border: 1px solid white;
    border-radius: 50px;
    gap:10px;
    margin-top: 40px;
    transition: 0.3s;
    cursor: pointer;
}
.my-read-more img{
    width: 35px;
    padding-left: 10px;
    padding-bottom: 18px;
}
.my-read-more:hover{
    transform: scale(1.05);
    background: linear-gradient(30deg,blue,orange);
}




